.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
build/
.env
sounds/
asterisk/
main.py
Sound.oy
download_sounds.py
compile_commands.json
ttsScriptReadme.md
output/
.audio_cache/
output_sounds/
__pycache__/
creds.json